<html>
    <head><title>Inserting Data Collection Tree</title></head>
    <body>
        

        <form method="POST" action="/insert" >
            <input type="text" name="device" placeholder="device"/>
            <input type="text" name="country" placeholder="country"/>
            <input type="text" name="webreq" placeholder="webreq"/>
            <input type="text" name="timespent" placeholder="timespent"/>



            <input type="submit" value="Submit"/>
        </form>
        
    </body>
</html>